/* singolo1 */
@font-face {
    font-family: Lato-Bold;
    src: url(assets/fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: Lato-Black;
    src: url(assets/fonts/Lato-Black.ttf);
}

@font-face {
    font-family: Lato-Light;
    src: url(assets/fonts/Lato-Light.ttf);
}

@font-face {
    font-family: Lato-Regular;
    src: url(assets/fonts/Lato-Regular.ttf);
}

.container,
.container * {
    padding: 0px;
    margin: 0px;
}

html{
    scroll-behavior: smooth;
}

body {
    width: 1020px;
    padding: 0px;
    margin: 0 auto;
}

header {
    height: 89px;
    background: #2d303a;
    border-bottom: 6px solid #323746;
    position: fixed;
    width: inherit;
    z-index: 2;
}

.menu-btn {
    z-index: 1;
    display: none;
    width: 25px;
    height: 20px;
    position: absolute;
    top: 26px;
    left: 20px;
}

.menu-btn span {
    display: inline-block;
    position: absolute;
    top: calc(50% - 1.2px);
    width: 100%;
    height: 2.4px;
    background-color: white;
    border-radius: 5px;
}

.menu-btn span::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: -8.8px;
    left: 0;
    width: 100%;
    height: 2.4px;
    background-color: white;
    border-radius: 5px;
}

.menu-btn span::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 8.8px;
    left: 0;
    width: 100%;
    height: 2.4px;
    background-color: white;
    border-radius: 5px;
}

.logo-container {
    display: inline-block;
}

.logo-container-second {
    display: none;
}

.logo {
    display: inline-block;
    padding: 0px;
    margin: 30px 0px 0px 40px;
    font-family: Lato-Bold;
    color: white;
    font-size: 24px;
}

.logo2 {
    position: absolute;
    font-family: Lato-Bold;
    font-size: 24px;
    color: #f06c64;
    top: 29px;
    cursor: default;
}

nav {
    float: right;
}

nav ul {
    margin-top: 39.5px;
    margin-right: 39.5px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-family: Lato-Bold;
    font-size: 11.5px;
    padding-bottom: 3px;
    cursor: pointer;
    transition: 0.4s;
}

.white-li::before {
    content: '·';
    margin-right: 14px;
    margin-left: 10px;
    color: #494e62;
    text-decoration: none;
    font-size: 12px;
    transition: 0.4s;
}

.red-li::before {
    content: '·';
    margin-right: 14px;
    transition: 0.4s;
    color: #f06c64;
}

.white-li:hover::before {
    color: white;
}

.red-li:hover::before {
    color: #f06c64;
}

#last-child-ul {
    margin-right: 0.5px;
}

.red-li {
    color: #f06c64;
    transition: 0.4s;
}

.SliderBlock-container {
    position: relative;
    overflow: hidden;
    width: 100%;
}


.slider-container {
    display: flex;
    flex-direction: row;
    width: 200%;
}

#SliderBlock {
    scroll-margin-top: 95px;
    padding-top: 95px;
    height: 594px;
    background: #f06c64;
    border-bottom: 6px solid #ea676b;
    position: relative;
    width: 50%;
}

.slider-image{
    position: relative;
    top: 95px;
    border-bottom: 6px solid #648BF0;
    padding: 0px;
    height: 594px;
    width: 50%;
}

.slider-image img {
    width: 100%;
    height: 100%;
}

#leftChev {
    position: absolute;
    left: 4.117647058823529%;
    top: 376px;
    z-index: 1;
}

#rightChev {
    position: absolute;
    left: 94.50980392156863%;
    top: 376px;
    z-index: 1;
}

#leftChev:hover,
#rightChev:hover {
    cursor: pointer;
}

#HorizontalIphone {
    margin-left: 379px;
    margin-top: 174px;
    width: 47.45098039215686%;
    height: auto;
}

#VerticalIphone {
    margin-left: 112px;
    margin-top: 229px;
    bottom: 100%;
    width: 23.52941176470588%;
    height: auto;
    position: relative;
    z-index: 0;
}

img[alt="Phone-Btn-Horizontal"] {
    width: 4.117647058823529%;
    position: relative;
    top: 89px;
    left: 198px;
    cursor: pointer;
    z-index: 1;
}

img[alt="Phone-Btn-Vertical"] {
    width: 4.117647058823529%;
    position: relative;
    left: -480px;
    top: -112px;
    cursor: pointer;
}

#ServicesBlock {
    height: 494px;
    background: #f2f2f2;
    border-bottom: 6px solid white;
    scroll-margin-top: 95px;
    width: 100%;
    position: relative;
}

#ServicesBlock h1 {
    font-family: Lato-Black;
    font-size: 30px;
    color: #666d89;
    margin-left: 40px;
    margin-top: 59px;
    position: absolute;
}

.ServicesBlock_text {
    position: absolute;
    letter-spacing: -0.05px;
    font-family: Lato-Light;
    font-size: 18px;
    color: #767e9e;
    line-height: 31px;
    margin-left: 40px;
    margin-top: 113px;
    width: 92.15686274509804%;
    white-space: pre-line;
    text-align: justify;
    word-spacing: -1.1px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 92.15686274509804%;
    left: 40px;
    top: 219px;
    position: relative;
}

.container__item {
    width: 300px;
    margin-bottom: 35px;
}

.container__item img {
    width: 60px;
    height: 59px;
}

.item__title {
    display: inline-block;
    vertical-align: top;
    color: #666d89;
    font-size: 18px;
    font-family: Lato-Black;
    margin-left: 14px;
    margin-top: -4px;
}

.item_description {
    display: block;
    font-family: Lato-Regular;
    font-size: 12px;
    color: #767e9e;
    line-height: 21px;
    float: right;
    margin-right: 2px;
    margin-top: -36.5px;
    max-width: 220px;
}

.item_description p {
    text-overflow: clip;
    max-width: 220px;
    white-space: pre;
    overflow: hidden;
}

.pencil-description {
    margin-right: 1px;
    margin-top: -35.5px;
}

#description-pencil__first-child {
    word-spacing: 4.65px;
}

#description-pencil__third-child {
    word-spacing: -0.5px;;
}

.pencil-title {
    margin: -3px 0px 0px 15px;
}

.bulb-description {
    margin-right: 0px;
    margin-top: -35.5px;
}

#description-bulb__second-child {
    word-spacing: 6px;
}

#description-bulb__third-child {
    word-spacing: -0.5px;
} 

.bulb-title {
    margin: -3px 0px 0px 16px;
}

.heart-description {
    margin-top: -35.5px;
    margin-right: 2px;
}

#description-heart__first-child {
    word-spacing: 1.5px;
}

.heart-title {
    margin: -3px 0px 0px 16px;
}

.phone-description {
    margin-right: -1px;
    margin-top: -35.5px;
}

#description-phone__first-child {
    word-spacing: 0.7px;
}

.phone-title {
    margin: -5px 0px 0px 16px;
}

.bubble-description {
    margin-right: 2px;
    margin-top: -35.5px;
}

#description-bubble__first-child {
    word-spacing: 3.1px;
}

#description-bubble__second-child {
    word-spacing: -0.5px;
}

.bubble-title {
    word-spacing: -1px;
    margin: -5px 0px 0px 14px;
}

.star-description {
    margin-right: 3px;
    margin-top: -35.5px;
}

#description-star__first-child {
    word-spacing: 1px;
}

#description-star__second-child {
    word-spacing: 6.5px;
}

.star-title {
    margin: -4.5px 0px 0px 17px;
}

img[alt="star-image"],
img[alt="bubble-image"],
img[alt="phone-image"] {
    margin-top: -2px;
}

/* singolo2 */

.portfolio {
    scroll-margin-top: 95px;
    height: 863px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
    width: 100%;
}

.wrapper {
    padding-top: 68px;
    height: 814.95px;
    max-width: 92.15686274509804%;
    margin: 0 auto;
}

.AboutUs .wrapper {
    padding-top: 69px;
}

.portfolio h1,
.AboutUs h1 {
    margin: 0px;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: Lato-Black; 
    letter-spacing: 0.355px;
    font-weight: 900;
    word-spacing: -2.35px;
}

.portfolio h3,
.AboutUs h3 {
    margin: 0px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: Lato-Light;
    padding-top: 27px;
    font-weight: 300;
    letter-spacing: -0.2067px;
    word-spacing: -0.07px;
}

.portfolio__navigation {
    padding: 0px 0px 0px 0px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin: 11px 0px 0px 2px;
    width: 100%;
}

.navigation__link {
    list-style: none;
    display: inline-block;
    font-size: 12px;
    line-height: 20.5px;
    color: #767e9e;
    font-family: Lato-Regular;
    border: 1px solid #666d89;
    border-radius: 5px;
    font-weight: 400;
    padding: 0px 6px;
    margin-left: 6px;
    text-align: center;
    transition: border-color 1s, color 0.3s;
    cursor: pointer;
}

.navigation__link:first-child {
    margin-left: 0px;
}

.navigation__link_selected {
    color: white;
    border-color: white;
    transition: border-color 1s, color 0.3s;;
}

.navigation__link:last-child {
    margin-left: 5px;
}

.container-flex {
    padding-top: 19px;
    width: 102.1276595744681%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    word-spacing: 0px;
    /* overflow: hidden; */
}

.flex-item {
    height: auto;
    margin-bottom: 20px;
    margin-right: 20px;
    cursor: pointer;
    outline-offset: -5px;
}

.AboutUs {
    scroll-margin-top: 95px;
    height: 728px; 
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
    width: 100%
}

.AboutUs h1 {
    margin: -1px 0px 1px 0px;
}

.AboutUs h3 {
    word-spacing: 1.15px;
}

.AboutUs h3 span {
    word-spacing: -0.15px;
}

.about-flex {
    display: flex;
    height: 443px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 44px 0px 0px 0px;
}

.about-flex__item {
    height: 443px;
    display: flex;
    width: 31.91489361702128%;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
}

.about-flex__item img {
    width: 100%;
    height: auto;
}

.AboutUs h2 {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: Lato-Black;
    font-weight: 900;
    margin: 3px 0px 0px -1px;
    padding: 3px 0px 0px 0px;
    max-width: 100%;
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
}

.AboutUs h4 {
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: Lato-Regular;
    font-weight: 400;
    margin: 0px 0px 7px 0px;
    padding: 0px 0px 0px 0px;
    letter-spacing: -0.2px;
    word-spacing: 0.3px;
}

.social-icons span {
    width: 32px; 
    height: 32px; 
    display: inline-block;
}

.Desmond-Miles h2 {
    word-spacing: -1px;
}

.Scolara-Visari h2 {
    word-spacing: 0.7px;
}

.Adam-Jensen h4 span {
    word-spacing: 0.75px;
}

.Desmond-Miles h4 {
    margin: 0px 0px 7px 0px;
    padding: 0px 0px 0px 0px;
    letter-spacing: 0px;
    word-spacing: 1px;
}

.Desmond-Miles h4 span {
    letter-spacing: -0.1px;
    word-spacing: 0.31px;
}

.Scolara-Visari h4 {
    margin: 0px 0px 7px 0px;
    padding: 0px 0px 0px 0px;
    letter-spacing: 0px;
    word-spacing: 0.3px;
}

.Scolara-Visari h4 span {
    letter-spacing: -0.1px;
    word-spacing: 0.15px;
}

.social-icons {
    margin-bottom: -4px;
    margin-top: 4px;
}

.social-icons span {
    margin-left: 4px;
    cursor: pointer;
}

.social-icons span:first-child {
    margin-left: 0px;
}

.Adam-Jensen .social-icons {
    margin-left: 1px;
}

.Facebook:hover {
    background-image: url(assets/images/Facebook-hover.png) !important;
}

.Google:hover {
    background-image: url(assets/images/Google-hover.png) !important;
}

.Twitter:hover {
    background-image: url(assets/images/Twitter-hover.png) !important;
}

.LinkedIn:hover {
    background-image: url(assets/images/LinkedIn-hover.png) !important;
}

/* singolo3 */

.get-a-quote {
    scroll-margin-top: 95px;
    padding: 0px 0px 0px 0px;
    height: 648px;
    width: 100%;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.quote__title {
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: Lato-Black;
    font-weight: 900;
    padding: 68px 0px 0px 39px;
    margin: 0px;
}

.quote__description {
    margin: 0px;
    padding: 27px 0px 0px 40px;
    width: 92.15686274509804%;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: Lato-Light;
    font-weight: 300;
    letter-spacing: -0.05px;
}

.quote__description span {
    word-spacing: -1.1px;
}

.container-form {
    display: flex;
}

textarea {
    padding: 0px;
    resize: none;
    width: 97.5767366720517%;
    height: 195.57px;
    border-radius: 5px;
    background-color: #d6564f;
    border: none;
    outline: none;
    margin-bottom: 16px;
    padding-left: 15px;
    padding-top: 6.5px;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: Lato-Regular;
    font-weight: 400;
}

form {
    width: 60.68627450980392%;
    padding-left: 40px;
    padding-top: 47px;
}

form > input {
    width: 97.5767366720517%;
    height: 38px;
    border-radius: 5px;
    background-color: #d6564f;
    border: none;
    outline: none;
    margin-bottom: 16px;
    padding: 0px;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: Lato-Regular;
    font-weight: 400;
    padding-left: 15px;
}

input::placeholder,
textarea::placeholder {
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: Lato-Regular;
    font-weight: 400;
}

textarea::placeholder {
    word-spacing: -0.1px;
    letter-spacing: -0.05px;
}

.form__button {
    font-family: Lato-Bold;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    border: none;
    outline: none;
    border-radius: 5px;
    height: 38px;
    width: 136px;
    margin: 0px;
    padding: 0 0 0 0;
    background-color: #FBC65F;
    color: #886A30;
    transition: border-color 0.5s, background-color 0.5s, color 0.5s;
}

.form__button:hover {
    background-color: #FBDF5F;
    cursor: pointer;
    color: #A3761F;
}

.contact-info {
    width: 29.41176470588235%;
    padding-top: 29px;
    padding-left: 21px;
}

.contact-info__title {
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: Lato-Black;
    font-weight: 900;
}

.contact-info__description {
    width: 100%;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: Lato-Regular;
    font-weight: 400;
    padding: 0px;
    margin: 0px;
    margin-top: -8px;
    letter-spacing: -0.2px;
    word-spacing: 1.1px;
}

.contact-info__description span {
    word-spacing: 1.7px;
    letter-spacing: -0.15px;
}

.location {
    display: inline-block;
    width: 7px;
    height: 11px;
    background-image: url(assets/images/location.png);
}

.telephone {
    display: inline-block;
    width: 11px;
    height: 11px;
    background-image: url(assets/images/telephone.png);
}

.emailpost {
    display: inline-block;
    width: 13px;
    height: 8px;
    background-image: url(assets/images/emailpost.png);
}

.adress {
    padding: 20px 0px 0px 3px;
}

.adress div {
    margin-bottom: 0px;
    display: inline-flex;
    width: 100%;
    align-items: center;
}

.adress a {
    display: inline-block;
    font-family: Lato-Regular;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    text-decoration: none;
    padding: 0px 0px 0px 13px;
    vertical-align: center;
    letter-spacing: -0.17px;
}

.adress .div-telephone {
    margin: -2px 0px 0px -2px;
}

.adress a[href="tel: 03528 331 86 35"] {
    padding: 1px 0px 0px 11px;
}

.adress .div-emailpost {
    margin: 1px 0px 0px -3px;
}

.adress a[href="mailto: info@singolo.com"] {
    padding: 0px 0px 0px 11px;
    margin-top: -1px;
}

footer {
    height: 76px;   
    background-color: #2d303a;
}

.footer__copyright-text {
    padding: 27px 0px 0px 42px;
    font-size: 12px;
    line-height: 22px;
    color: #666d89;
    font-family: Lato-Regular;
    font-weight: 400;
    display: inline-block;
}

.footer-flex {
    display: flex;
    float: right;
    padding: 22px 32px 0px 0px;
}

.footer-flex span {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 8px;
}

.footer__facebook {
    background-image: url(assets/images/Facebook.png);
    transition: all 0.5s;
}

.footer__facebook:hover {
    background-image: url(assets/images/Facebook-footer-hover.png);
    cursor: pointer;
}

.footer__google {
    background-image: url(assets/images/Google.png);
    transition: all 0.5s;
}

.footer__google:hover {
    background-image: url(assets/images/Google-footer-hover.png);
    cursor: pointer;
}

.footer__twitter {
    background-image: url(assets/images/Twitter.png);
    transition: all 0.5s;
}

.footer__twitter:hover {
    background-image: url(assets/images/Twitter-footer-hover.png);
    cursor: pointer;
}

.footer__linkedin {
    background-image: url(assets/images/LinkedIn.png);
    transition: all 0.5s;
}

.footer__linkedin:hover {
    background-image: url(assets/images/LinkedIn-footer-hover.png);
    cursor: pointer;
}

.modal-window {
    position: fixed;
    display: flex;
    z-index: 2;
    top: 0;
    left: auto;
    width: inherit;
    height: 100%;
    background-color: rgba(200, 200, 200, 0.5);;
    justify-content: center;
    align-items: center;
}

.modal-message {
    background-color: white;
    border: 1px solid black;
    height: 300px;
    width: 700px;
    opacity: 1;
    position: relative;
    overflow: hidden;
}

.modal-message p {
    padding-left: 20px;
    text-overflow: ellipsis;
    white-space: pre;
    max-width: 100%;
    overflow: hidden;
    max-height: 100px;
}

.title-model-message {
    text-align: center;
    padding: 0;
}

.modal-message button {
    margin-left: 20px;
}

/*                                             MEDIA STYLES */

@media only screen and (min-width: 1020px) {
    
    .navigation__link:hover {
    border-color: white;
    color: white;
    }
}
/* 768px <= width < 1020px */

@media only screen and (max-width: 1019px) {

    body {
        width: 100vw;
    }

    nav ul {
        margin-top: 37.5px;
    }

    #VerticalIphone {
        position: absolute;
        top: calc(95px + 5.334635416666667vw);
        left: 10.96223958333333vw;
        margin-top: 0;
        margin-left: 0;
        width: 23.54817708333333vw;
    }

    #HorizontalIphone {
        position: absolute;
        top: calc(95px + 17.37369791666667vw);
        left: 41.59635416666667vw;
        margin-top: 0;
        margin-left: 0;
        width: 23,55859375vw;
    }

    img[alt="Phone-Btn-Horizontal"] {
        width: 4.098958333333333%;
        position: absolute;
        top: calc(95px + 45.2421875vw);
        left: 19.48307291666667vw;
        cursor: pointer;
        z-index: 1;
    }
    
    img[alt="Phone-Btn-Vertical"] {
        width: 4.098958333333333%;
        position: relative;
        top: 25.89453125vw;
        left: 42.41536458333333vw;
        cursor: pointer;
    }

    #leftChev {
        position: absolute;
        left: 3.830729166666667vw;
        top: calc(95px + 27.58854166666667vw);
        z-index: 1;
    }
    
    #rightChev {
        position: absolute;
        left: 94.41927083333333vw;
        top: calc(95px + 27.58854166666667vw);
        z-index: 1;
    }

    #SliderBlock {
        height: 57.954567vw;
        border-bottom: 4.52px solid #ea676b;
    }

    .slider-image {
        height: 58.82291666666667vw;
    }

    #ServicesBlock h1 {
        margin-top: 42px;
    }

    .ServicesBlock_text {
        word-spacing: 0;
        margin-top: 96px;
        width: 87.156863%;
    }

    .container {
        width: 88%;
        height: auto;
        position: static;
        margin: 0 auto;
        padding-top: 223.24px;;
        padding-bottom: 22px;
        padding-right: 34px;
        justify-content: space-around;
    }

    .container__item {
        margin-bottom: 54px;
    }

    #ServicesBlock {
        height: auto;
        border-bottom: none;
    }

    .portfolio {
        height: auto;
        border-bottom: 7.6px solid #323746;
    }

    .container-flex {
        padding-top: 28px;
        position: static;
        padding-bottom: 45px;
    }

    .flex-item {
        width: 29.91007194244604%;
        height: auto;
    }

    .portfolio h3 {
        max-width: 91.494792%;
        word-spacing: 1.3px;
    }

    .portfolio .wrapper {
        height: auto;
        margin: 0px;
        margin-left: 40px;
        padding-top: 69px;
    }

    .about-flex {
        height: auto;
        padding-bottom: 73px;
        padding-top: 39px;
    }

    .about-flex__item {
        height: 46.875vw;
        width: 31.9131258654617%;
    }

    .AboutUs {
        height: auto;
        border-bottom: none;
    }

    .AboutUs h3 {
        text-align: justify;
        width: 98%;
        letter-spacing: -0.19px;
    }

    .AboutUs h3 span {
        word-spacing: 2px;
    }

    .AboutUs h4 {
        text-align: justify;
    }

    .AboutUs .wrapper {
        padding-top: 61px;
        height: auto;
        margin: 0;
        margin-left: 41px;
        max-width: 89.33072916666667%;
    }

    .quote__description {
        width: 89.71354166666667%;
        letter-spacing: 0.1px;
    }

    form {
        width: 57.55208333333333%;
        margin-top: 1.302083333333333vw;
    }

    .form input {
        width: calc(57.5208333333333vw - 15px);
        margin-bottom: 13px;
    }

    .form textarea {
        width: calc(57.5208333333333vw - 15px);
        height: 149.57px;
        margin-bottom: 15px;
    }

    .contact-info {
        padding-left: 29px;
        padding-top: 40px;
    }

    .contact-info__description {
        text-align: justify;
        margin-top: -15px;
    }

    .adress {
        padding-top: 10px;
        padding-left: 2px;
    }

    .container-form {
        padding-bottom: 5.10546875vw;
    }

    .get-a-quote {
        height: auto;
    }

    .quote__title {
        padding-top: 8.072916666666667vw;
        padding-left: 42px;
    }

    .footer__copyright-text {
        font-size: 13px;
    }
}

@media only screen and (max-width: 950px) {
    .container {
        width: 92%;
    }
}

/* 375px <= width < 768px */

@media only screen and (max-width: 767px) {

    header {
        border-bottom: none;
        height: 71px;
    }

    nav {
        position: fixed;
        width: 278px;
        height: 100%;
        float: none;
        background-color: #2D303A;
        left: -278px;
        top: 0;

        /* box-shadow: 0px 0px 0px 100vw rgba(45, 48, 58, 0.6); */
    }

    nav ul {
        margin: 0;
        padding: 28.57142857142857vh 0px 0px 71px;
    }

    nav ul li {
        display: block;
        padding-bottom: 27px;
    }

    nav ul li a {
        font-size: 24px;
    }
    
    .white-li::before {
        display: none;
    }
    
    .red-li::before {
        display: none;
    }
    
    #last-child-ul {
        margin-right: 0;
    }

    .logo-container {
        text-align: center;
        display: block;
        padding-top: 24px;
    }

    .logo {
        font-size: 19.6875px;
        padding: 1px 0px 0px 17px;
        margin: 0;
    }

    .logo2 {
        font-size: 19.6875px;
        position: static;
    }

    .container {
        width: 78vw;
        padding-right: 0;
    }

    .logo-container-second {
        display: inline-block;
        padding-top: 24px;
        padding-left: 71px;
    }

    .menu-btn {
        display: inline-block;
        width: 25px;
        height: 20px;
        position: absolute;
        top: 26px;
        left: 20px;
    }

    #SliderBlock {
        scroll-margin-top: 70px;
        height: 51.954567vw;
        border-bottom: 2.21px solid #ea676b;
    }

    #VerticalIphone {
        top: calc(95px + -1.165365vw);
    }

    img[alt="Phone-Btn-Horizontal"] {
        top: calc(95px + 38.74218708333333vw);
    }

    #HorizontalIphone {
        top: calc(95px + 10.8736975vw);
    }

    img[alt="Phone-Btn-Vertical"] {
        top: 19.39453083333333vw;
    }

    #rightChev {
        left: 93.419271vw;
        top: calc(95px + 19.6vw);
    }

    #leftChev {
        left: 2.630729vw;
        top: calc(95px + 19.6vw);
    }

    .slider-image{
        top: 75px;
    }

    .slider-container {
        background-color: #648BF0;
    }

    #ServicesBlock {
        scroll-margin-top: 70px;
    }

    #ServicesBlock h1 {
        margin-top: 27px;
        margin-left: 32px;
    }

    .ServicesBlock_text {
        width: 83.73333333333333vw;
        text-align: unset;
        margin-bottom: 0;
        word-spacing: 1px;
        margin-top: 80px;
        margin-left: 31px;
        line-height: 30px;
    }

    .container {
        padding-top: 319px;
        padding-bottom: 0px;
        margin-left: 34px;
    }

    .container__item {
        margin-bottom: 8vw;
    }

    .container__item:last-child  {
        margin-bottom: 26px;
    }

    .container-flex {
        width: 100%;
        justify-content: space-between;
        height: auto;
        align-content: space-between;
        padding-top: 24px;
        padding-bottom: 27px;
    }

    .flex-item {
        width: 47.93650793650794%;
        height: auto;
        margin-right: 0px;
        margin-bottom: 3.733333333333333vw;
    }

    .flex-item:nth-child(n+9) {
        display: none;
    }

    .flex-item:nth-child(2n) {
        margin-right: 0;
    }

    .portfolio {
        scroll-margin-top: 70px;
        border-bottom: none;
    }

    .portfolio h3 {
        letter-spacing: -0.37px;
        max-width: 95.494792%;
    }

    .portfolio__navigation {
        margin-top: 15px;
    }

    .portfolio .wrapper {
        max-width: 84%;
        margin: 0 0 0 8%;
        padding-top: 51px;
    }
    
    .AboutUs {
        scroll-margin-top: 70px;
    }

    .AboutUs h3 {
        width: 94.151108%;
        text-align: unset;
    }

    .about-flex {
        flex-wrap: wrap;
        padding-bottom: 8px;
        padding-top: 22px;
    }

    .about-flex__item {
        width: 93.73693951877724%;
        height: auto;
        margin-bottom: 34px;
    }

    .AboutUs .wrapper {
        margin: 0 0 0 30px;
        padding-top: 44px;
    }

    .AboutUs h2 {
        padding-top: 14px;
    }

    .AboutUs h4 {
        padding-top: 5px;
    }

    .get-a-quote {
        scroll-margin-top: 70px;
    }

    .quote__description {
        width: 81.73333333333333%;
        padding-left: 30px;
    }

    .container-form {
        flex-wrap: wrap;
        padding-bottom: 9.405469vw;
    }

    form {
        width: 84%;
        padding-top: 171px;
        padding-left: 30px;
    }

    .contact-info {
        width: 84%;
        padding-left: 30px;
        padding-top: 15px;
    }

    .quote__title {
        padding-left: 30px;
        padding-top: 14.072917vw;
    }

    .adress div {
        margin-bottom: 7.14px;
    }

    .form__button {
        width: 84vw;
        height: 50px;
    }

    .form input {
        width: calc(84vw - 15px);
    }

    .form textarea {
        width: calc(84vw - 15px);
        margin-bottom: 10px;
    }

    .footer__copyright-text {
        display: none;
    }

    .footer-flex {
        display: flex;
        float: none;
        padding-right: 0;
        margin: 0 auto;
        justify-content: center;
        padding-left: 6px;
    }

    .pencil-description {
        margin-right: -4px;
    }

    .bulb-description {
        margin-right: -6px;
    }

    .heart-description {
        margin-right: -4px;
    }

    .phone-description {
        margin-right: -5px;
    }

    .bubble-description {
        margin-right: -4px;
    }

    .star-description {
        margin-right: -1px;
    }
}
    /* width < 375 */
    @media only screen and (max-width: 374px) {
        .pencil-description {
            margin-right: -1px;
        }

        .bulb-description {
            margin-right: -3px;
        }

        .phone-description {
            margin-right: -4px;
        }

        .heart-description {
            margin-right: -2px;
        }

        .bubble-description {
            margin-right: -2px;
        }

        .container {
            width: 93vw;
            margin-left: 19px;
            padding-top: 331px;
        }

        .navigation__link {
            margin-left: -1px;
        }

        .navigation__link:last-child {
            margin-left: -1px;
        }

        form {
            padding-top: 196px;
        }
    }